// Define some screen sizes for media queries
$screen-extra-small: 360px;
$screen-very-small: 768px;
$screen-small: 992px;
$screen-medium: 1200px;
$screen-large: 1440px;
$screen-very-large: 1920px;
$screen-extra-large: 2400px;